/* RESET DO CSS 🌸🎀🩰💋💄🩷🧼💮🪷*/
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
}

header {
    background-color: rgb(255, 201, 213);
    color: rgb(116, 116, 116);
    padding: 73px;
    text-align: center;
}

main {
    background-color: rgb(108, 122, 114);
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color: rgb(224, 220, 205);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    color: rgb(116, 116, 116);
}

#titulo-sobre-mim {
    font-size: 30px;
    margin-bottom: 16px;
    border-bottom: 2px solid rgb(182, 143, 151);
    margin-bottom: 2px;
}

.texto-sobre-mim {
    font-size: 18px;
}

#meus-hobbies {
    background-color: rgb(224, 220, 205);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 16px;
    color: rgb(116, 116, 116);
}

#titulo-meus-hobbies {
    font-size: 30px;
    margin-bottom: 16px;

}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    background-color: rgba(182, 143, 151, 0.438);
    padding: 8px;
    border-left: 4px solid rgb(116, 116, 116);
    border-radius: 6px;
    font-size: 16px;
    min-width: 250px;
}

li:hover {
    background-color: rgba(128, 100, 106, 0.555);
    transform: translateX(5px);
    transition: all o.3s ease;
}